<button class="btn right" onclick="initData();">Initialize</button>

<div class="page-header">
	<h3><a href="#/stops">Stops</a> | <a href="#/routes">Routes</a></h3>
</div>
<div id="app"></div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    // onready, instantiate App
    new App({el: $("#app")})
  });
</script>