<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div id="app"></div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    // onready, instantiate App
    new App({el: $("#app")})
  });
</script>