// then comes the map. on desktop the map is absolute positioned to fill the area to the
// right of the sidebar. on phone/tablet it fits neatly between title and navigation.
#map {
  a:hover {
    border-bottom: none;
  }
  img {
    max-width: none;
  }

  @media #{$desktop} {
    position: relative;
    margin-left: $sidebar_width;
    height: 100%;
  }

  @media #{$tablet} {
    height: $map_height_tablet;
  }

  @media #{$phone} {
    height: $map_height_phone;
  }
}
