// then comes the map. on desktop the map is absolute positioned to fill the area to the
// right of the sidebar. on phone/tablet it fits neatly between title and navigation.
#map {

  a:hover {
    border-bottom: none;
  }
  img {
    max-width: none;
  }

  @media #{$desktop} {
    // stretch to fill the entire right side of the screen
    @include stretch(0, 0, 0, $sidebar_width);
  }

  @media #{$tablet} {
    position: relative;
    top: auto; bottom: auto;
    left: 0; right: 0;
    height: $map_height_tablet;
  }

  @media #{$phone} {
    height: $map_height_phone;
  }
}
