@import "bootstrap";

$sidebar_width: 470px;
$sidebar_margin: 12px;
$map_height: 250px;

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $sidebar_width;
}

#navigation {
  min-width: 320px;
  width: $sidebar_width;
  float: left;

  form {
    margin: 10px $sidebar_margin;
    input {
      margin-bottom: 0;
    }
  }
  .segments {
    list-style: none;
    margin: 0;
  }
  .segment {
    padding: 8px $sidebar_margin;
    border-bottom: 1px solid $tableBorder;
  }
  .segment:hover {
    background-color: $tableBackgroundHover;
  }
  .segment .duration {
    float: right;
    margin-left: 5px;
  }
  .progress {
    margin: 0 $sidebar_margin 10px;
    .bar { width: 100% }
  }
  .real-time {
    display: none;
    float: right;
  }
  .alert {
    margin: 0 $sidebar_margin 10px;
    display: none;
  }
}

@media (max-width: 767px) {
  #map {
    left: 0;
    bottom: auto;
    height: $map_height;

    .leaflet-control-attribution {
      font-size: 10px;
    }
  }

  #navigation {
    margin-top: $map_height;
    width: 100%;
  }
}
