<div class="container-fluid">
	<div class="row-fluid">
		<img src="<%= image_path 'logo.png' %>" class="logo-small" alt="WhichBus logo">
	</div>
	<div class="row-fluid" >
		<div class="span12 about">
			<div class="content">
				<h1 class="pacifico">About WhichBus</h1>

				<p>WhichBus started as a basic understanding: Riding the bus should be simple.</p>

				<p>Unfortunately, this is not usually the case. It’s often difficult to navigate public transit, especially if riders don’t know which bus to take and when their bus is going to arrive. The concept that riding experiences can be simplified is what brought the WhichBus team together at the January 2012 Startup Weekend in Seattle where we received the award for “Best Design.”</p>

				<p>We continued to develop the app at the April 2012 Startup Weekend Gov where WhichBus received the highest honor for “Best Overall Business.” This achievement awarded us a meeting with Seattle’s mayor, Mike McGinn, to discuss WhichBus, startups in Seattle, and open government.</p>

				<p>At the EvergreenApps.org contest in October 2012, WhichBus won three awards, including 2nd Place Overall, People’s Choice, and Best Multi-Jurisdictional App.</p>

				<p>Since our first Startup Weekend, we’ve been hard at work building out the site and testing the user experience with more than 1,200 unique users testing the private beta in the last three months. As a result of the direct feedback from our beta users, we’ve made dozens of improvements are are happy to now be public for all to use at <a href="http://whichbus.org">http://whichbus.org</a>.</p>

				<div class="span10 centered buttons">
					<a class="btn span4" href="https://docs.google.com/folder/d/0B0--R1aa2AkUVU05UGJJUi1Xd3c/edit" target="_BLANK">View our Press Kit</a>
					<a class="btn span4" href="/about/terms" target="_BLANK">Terms of Service</a>
					<a class="btn span4" href="/about/privacy" target="_BLANK">Privacy Policy</a>
				</div><br/>

				<h2>Team</h2>
				<ul>
					<li>Gilad Gray, Team Lead/Developer</li>
					<li>Kim Manis, UX Design</li>
					<li>Daniel Miller, Developer</li>
					<li>Paige Pauli, UX/UI Design/Front-End Development</li>
					<li>Dave Rigotti, Business/Marketing</li>
				</ul>

				<h2>Contact</h2>
				<p>Want to get in touch? Have critiques or accolades?</p>
				<p>Send us an email at <a href="mailto:team@whichbus.org">team@whichbus.org</a> or find us on <%= link_to "Facebook", "http://www.facebook.com/whichbus" %> and <%= link_to "Twitter", "http://www.twitter.com/whichbus" %>.</p>
				<p>Feeling totally awesome? Give us some <a href="http://whichbus.uservoice.com/forums/181861-feedback" target="_BLANK">constructive feedback</a></p>

				<h2>Special Thanks</h2>
				<p>We couldn't have done it without these amazing folks and services: Farrin Reid, Eugeniy Kalinin, Joe Schulman, Kevin Wood, Dave Remy, Carter from Twilio, Mayor Mike McGinn, Sol Villarreal, the City of Seattle, Brian Ferris & OneBusAway, OpenTripPlanner, Socrata, LaunchRock, Seattle Department of Transportation, and perhaps most importantly, StartupWeekend for bringing us all together.</p>
			</div>
		</div>
	</div>
</div>
