<div class="container-fluid">

	<div class="row-fluid" style="margin-top:50px;">
		<img src="/assets/logo.png" width="310" height="105" alt="WhichBus logo" style="display:block;width:310px;margin-left: auto;margin-right:auto;margin-bottom:15px"/>
	</div>
	<div class="row-fluid">
		<div class="span12" style="text-align:center; margin-left: auto;margin-right: auto;background-color:white; -moz-border-radius: 15px;border-radius: 15px; color:#707070; padding:10px;">
			<p class="pacifico" style="font-size:20px;">WhichBus Privacy Policy:</p>

			<p class="pacifico" style="font-size:20px;">We respect you, yo!</p>
		</div>
	</div>

	</div>
</div>