<div class="container-fluid">
	<div class="row-fluid">
		<img src="<%= image_path 'logo.png' %>" class="logo-small" alt="WhichBus logo">
	</div>
	<div class="row-fluid">
		<div class="span12 about">
			<div class="content">
				<h1 class="pacifico">WhichBus Privacy Policy</h1>


<h2>1.  Introduction</h2>
<p>Thank you for visiting WhichBus.  This Privacy 
Policy is written to better explain how we collect and use your information.  
This Privacy Policy is a binding contract and you must agree to it to 
the same extent as our Terms of Service in order to use our services.</p>

<h2>2.  Personal Information We Collect</h2>
<p>When using our service, we may collect your name, 
e-mail address, and other information we deem relevant.  We do 
not disclose this information to anyone except in accordance with our 
Privacy Policy.</p>

<p>In addition to providing us with the above information 
about yourself, you must be at least thirteen years of age or older 
to use our service.  This is because we are prohibited by the <span style="font-style:italic">Children’s Online 
Privacy Protection Act</span> from collecting information from anyone 
below that age.  We apologize for any inconvenience this may cause.</p>

<h2>3.  Non-Personal Information We Collect</h2>
<p>We may collect information about you that is not personal 
information.  When you access our website, we may collect such 
things as your IP address, browser, operating system, referring URL, 
and other general information about our visitors.  This information, 
on its own, cannot usually be used to identify you.</p>

<h2>4.  Use of Information</h2>
<p>We may use your information:</p>
<ul style="list-style:disc">
  <li>To 
  enhance or improve user experience, the WhichBus site, or the WhichBus 
  service.</li>
  <li>To 
  process transactions and sell, transfer, and exchange your information 
  with a third party for their marketing purposes without further consent 
  from you beyond the fact that you hereby agree to such information sharing.</li>
  <li>To 
  send e-mails about our website or respond to inquiries.</li>
  <li>To 
  send e-mails about our website and other products, news, services, or 
  updates from WhichBus or its other holdings.</li>
  <li>To 
  do anything else you consent for us to do.</li>
</ul>

<h2>5.  Cookies</h2>
<p>We use cookies to save your preferences.  For 
this reason, it is necessary that you have cookies enabled in order 
to get the most out of our service.</p>
<p>We also use cookies to keep track of advertisements.  
Please note that we use Google AdSense to display some advertisements, 
which uses the DoubleClick cookie.  For instructions on disabling 
the DoubleClick cookie, visit <a href="http://www.google.com/policies/privacy/ads/" target="_blank">http://www.google.com/policies/privacy/ads/</a></p>

<h2>6.  Third Party Websites</h2>
<p>We may link to third party websites from our own website.  
We have no control over, and are not responsible for, these third party 
websites or their use of your personal information.  We recommend 
that you review their privacy policies and other agreements governing 
your use of their website.</p>

<h2>7.  Third Party Access to Your Information</h2>
<p>We protect your information from being accessed by 
third parties.  However, since we may employ outside maintenance 
personnel or use a third party to host our material, there are third 
party entities which may have custody or access to your information.  
Because of this, it is necessary that you permit us to give access to 
your information to third parties to the same extent that you authorize 
us to do so.  For greater certainty, every authorization which 
you grant to us in this Privacy Policy, you also grant to any third 
party that we may hire, contract, or otherwise retain the services of 
for the purpose of operating, maintaining, repairing, or otherwise improving 
or preserving our website or its underlying files or systems.  
You agree not to hold us liable for the actions of any of these third 
parties, even if we would normally be held vicariously liable for their 
actions, and that you must take legal action against them directly should 
they commit any tort or other actionable wrong against you.</p>
<p>Without limiting the generality of the foregoing, 
you authorize us to use the following third party services, which may 
or may not involve the exchange of your route or other information with 
said parties:</p>

<ul style="list-style:disc">
  <li>OneBusAway, 
  for the purpose of obtaining real-time transit data from the City of 
  Seattle, Washington.</li>
  <li>OpenTripPlanner, 
  for the purpose of planning routes, scheduling, and other time and location 
  information.</li>
  <li>Mapquest 
  Geocoding, for the purpose of displaying street and business locations 
  on your map.</li>
  <li>OpenStreetMaps, 
  for the purpose of displaying your map to you.</li>
  <li>SocrataOpenData, 
  for the purpose of displaying city crime information.</li>
  <li>Google 
  Analytics, for the purpose of obtaining web analytics and other general 
  information about visitors to our site and users of our service.</li>
</ul>

<h2>8.  Law Enforcement</h2>
<p>We may disclose your information to a third party 
where we believe, in good faith, that it is desirable to do so for the 
purposes of a civil action, criminal investigation, or other legal matter.  
In the event that we receive a subpoena affecting your privacy, we may 
elect to notify you to give you an opportunity to file a motion to quash 
the subpoena, or we may attempt to quash it ourselves, but we are not 
obligated to do either.</p>

<h2>9.  Security of Information</h2>
<p>We take steps to protect our systems, as it is in 
our interests to secure our systems against external threats.  
However, we make no representations as to the security or privacy of 
your information.  It is in our interest to keep our website secure, 
but we recommend that you use anti-virus software, firewalls, and other 
precautions to protect yourself from security threats.</p>

<h2>10.  Amendments</h2>
<p>We may amend this Privacy Policy from time to time, 
and the amended version will be posted on our website in place of the 
old version.  We will also include the date that the currently 
displayed Privacy Policy took effect to help you determine whether there 
have been any changes since you last used our website.  Like our 
Terms of Service, you must visit this page each time you come to our 
website and read and agree to it if the date it was last modified is 
more recent than the last time you agreed to the Privacy Policy.  
If you do not agree to the new Privacy Policy, you must immediately 
cease using our site and service.</p>

<h2>11.  Contact</h2>
<p>Any inquiries about your rights under this Privacy 
Policy, or any other matters regarding your privacy, can be directed 
to <a href="mailto:team@whichb.us">team@whichb.us</a>.</p>
<p>Last Modified:  July 31, 2012</p>



			</div>
		</div>
	</div>

	</div>
</div>
