<div class="container-fluid" style="height:10px;margin-top:50px;>
<!-- Push static content down due to abs positioning of header -->
&nbsp;
</div>
<div class="container-fluid">
<span class="pacifico" style="font-size:18pt;">About Us</span>
<p>WhichBus is a simple, beautiful way to navigate public transit.</p>
<p>What makes WhichBus special is that it combines both trip planning and real-time bus information in just a few easy steps, all within one app.</p>
<p>WhichBus was created at the January 2012 Startup Weekend in Seattle where it received the award for “Best Design.” We continued to develop the app at the April 2012 Startup Weekend focused on Seattle Government data where WhichBus received the award for “Best Overall Business.” Since then, we’ve been hard at work building out the site and testing the user experience.</p>

<span class="pacifico" style="font-size:18pt;">Team</span>
<ul>
<li>Gilad Gray, Team Lead/Developer</li>
<li>Eugeniy Kalinin, Developer</li>
<li>Kim Manis, UX Design</li>
<li>Daniel Miller, Developer</li>
<li>Paige Pauli, UX/UI Design/Front-End Development</li>
<li>Farrin Reid, Developer</li>
<li>Dave Rigotti, Business/Marketing</li>
<li>Joe Schulman, Developer/UX Designer</li>
</ul>
<span class="pacifico" style="font-size:18pt;">Contact</span>
<p>Want to get in touch? Have critiques or accolades?</p>
<p>Send us an email at <a href="team@whichb.us">team@whichb.us</a> or find us on Facebook and Twitter.</p>

<span class="pacifico" style="font-size:18pt;">Special Thanks</span>
<p>We couldn't have done it without these amazing folks and services: Kevin Wood, Dave Remy, Carter from Twilio, Mayor Mike McGinn, Sol Villarreal, the City of Seattle, Brian Ferris & OneBusAway, OpenTripPlanner, Socrata, LaunchRock, and perhaps most importantly, StartupWeekend for bringing us all together.</p>
</div>
</div>