<div class="container-fluid">
	<div class="row-fluid">
		<img src="<%= image_path 'logo.png' %>" class="logo-small" alt="WhichBus logo">
	</div>
	<div class="row-fluid about">
		<div class="content">
				<h1 class="pacifico">WhichBus Terms of Service</h1>

<h2>1.  Introduction</h2>
<p>Welcome to WhichBus, a public transit 
assistance tool doing business in the State of Washington.  This 
document constitutes a legally-binding agreement (“Agreement”) governing 
the terms of providing you with our service.  Throughout this document, 
the words “WhichBus,” “WhichB.us,” “us,” “we,” and “our,” 
refer to us, WhichB.us, or our service, WhichBus, as is appropriate 
in the context of the use of the words.  Likewise, the words “you” 
and “your” refer to you, the person who is being presented with 
this document for your agreement.</p>

<h2>2.  Description of Service</h2>
<p>WhichBus is a simple, beautiful way to navigate public 
transit.  What makes WhichBus special is that it combines both trip 
planning and real-time bus information in just a few easy steps, all 
within one app.</p>

<h2>3.  Information Supplied</h2>
<p>When using our service, we may collect your name, 
e-mail address, and other information we deem relevant.</p>

<p>In addition to providing us with the above information 
about yourself, you must be at least thirteen years of age or older 
to use our service.  This is because we are prohibited by the <span style="font-style:italic">Children’s Online 
Privacy Protection Act</span> from collecting information from anyone 
below that age.  We apologize for any inconvenience this may cause.</p>

<h2>4.  Disclaimer</h2>
<p>Although we strive to provide accurate public transit 
route and scheduling information, the information we receive, or results 
we publish, may be inaccurate or incomplete.  This may be caused 
by an error on third parties supplying us with information, or errors 
on the part of WhichBus.  Therefore, you acknowledge that we make 
no statements as to the usefulness of content or routes posted on our 
website or planned through our service, and you agree to waive us for 
any liability resulting from the use of such content, including but 
not limited to physical injury, death, or economic loss.  If a 
route seems inaccurate to you, please double-check it through a credible 
third party source.</p>

<h2>5.  Rules of Conduct</h2>
<p>When using our site, you agree that you will not:</p>
<ul style="list-style:disc">
  <li>Violate any provision of law 
  applicable in the State of Washington or anywhere else in the United 
  States.</li>
  <li>Violate any applicable legislation, 
  treaty, or other rule in force of the United States or any other political 
  entity having jurisdiction over this Agreement, you, WhichBus, or the 
  website or service that we provide.</li>
  <li>Hack, crack, phish, SQL inject, 
  or otherwise interfere with the integrity of the computer systems of 
  our Site, Service, or Users.</li>
  <li>Run any bots or other software 
  to aggregate or browse our content, including but not limited to our 
  route information.</li>
  <li>Infringe on anyone’s intellectual 
  property rights.</li>
  <li>Defame anyone.</li>
  <li>Defraud, mislead, or otherwise 
  act dishonestly.</li>
  <li>Redistribute the WhichBus service 
  through a third party venue while concealing the fact that the WhichBus 
  service is being used.</li>
  <li>Otherwise act in a manner which, 
  at WhichBus’ sole discretion, is objectionable, or which may bring 
  WhichBus into disrepute.</li>
</ul>

<h2>6.  Our Copyright</h2>
<p>You agree not to copy, distribute, display, disseminate, 
or otherwise reproduce any of the information on our website, or our 
website itself, without our prior written permission.  This includes, 
but is not limited to, copying content (whether or not we own the full 
rights to it, as copying it still harms our network capacity), and copying 
user profiles.</p>

<h2>7.  Your Copyright</h2>
<p>Our website may, but is not obligated to, permit user-uploaded 
content.  Because of this, we must ensure that all content uploaded 
to us may be used legally by us without having to remove it at a later 
date due to a revocation of license by the uploading user, or a copyright 
complaint by the rightful owner.  Therefore, by uploading any content 
to our site, you agree that you grant us a universal, perpetual, sublicensable, 
commercial and non-commercial, irrevocable license to use such content, 
and that you represent to us that you have the right to grant such a 
license.  You agree to indemnify us as well as any third party 
affected by your wrongful representations if you should represent falsely 
that you have the right to grant this license.</p>

<h2>8.  Trademarks</h2>
<p>“WhichBus” is a trademark used by us, WhichBus, 
to uniquely identify our website, business, and service.  You agree 
not to use this phrase anywhere without our prior written consent.  
Additionally, you agree not to use our trade dress, or copy the look 
and feel of our website or its design, without our prior written consent.  
You agree that this paragraph goes beyond the governing law on intellectual 
property law, and includes prohibitions on any competition that violates 
the provisions of this paragraph.</p>

<h2>9.  Revocation of Consent</h2>
<p>Where WhichBus has given prior written consent for 
your use of our protected material in accordance with our above “Copyright” 
and “Trademarks” provisions, we may revoke that consent at any time.  
If we so request, we may require that you immediately take action to 
remove from circulation, display, publication, or other dissemination, 
any of the marks, copyrighted content, or other materials that we previously 
consented for you to use.</p>

<h2>10.  DMCA Notices</h2>
<p>We take copyright infringement very seriously, and 
we have registered a Copyright Agent with the United States Copyright 
Office, which limits our liability under the Digital Millennium Copyright 
Act.  If you believe that your copyright has been infringed, please 
send us a message which contains:</p>
<ul style="list-style:disc">
  <li>Your 
  name.</li>
  <li>The 
  name of the party whose copyright has been infringed, if different from 
  your name.</li>
  <li>The 
  name and description of the work that is being infringed.</li>
  <li>The 
  location on our website of the infringing copy.</li>
  <li>A 
  statement that you have a good faith belief that use of the copyrighted 
  work described above is not authorised by the copyright owner (or by 
  a third party who is legally entitled to do so on behalf of the copyright 
  owner) and is not otherwise permitted by law.</li>
  <li>A 
  statement that you swear, under penalty of perjury, that the information 
  contained in this notification is accurate and that you are the copyright 
  owner or have an exclusive right in law to bring infringement proceedings 
  with respect to its use.</li>
</ul>

<p>You must sign this notification and send it to our 
Copyright Agent at:</p>
<p>Attn: WhichBus Copyright 
Agent <br>
523 Broadway E. Apt. 557 <br>
Seattle, Washington 98102 <br>
United States</p>
<p><a href="mailto:team@whichb.us">team@whichb.us</a></p>
<p>If sending the notification by e-mail, an electronic 
signature is acceptable.</p>
<p>Although no similar 
provisions exist under U.S. law for trademark infringement, we recommend 
that you submit similar information to us about any alleged trademark 
infringement so that we can take appropriate action.</p>

<h2>11.  Communications Decency Act</h2>
<p>We may, but are not 
obligated to, permit users to upload content to our website.  Although 
our Rules of Conduct prohibit users from posting defamatory material, 
we cannot ensure that it does not occur due to our limited editorial 
resources.  Under Section 230 of the <span style="font-style:italic">Communications Decency Act</span>, we are not liable for defamatory 
material published by third parties (such as our users) on our Site.</p>
<p>We recommend that you 
report any alleged defamation by third parties to us with full details 
of who you are and how the material is defamatory and, if we agree it 
is defamatory, we may remove it.  However, do not attempt to sue 
us, whether or not we remove such material, as we are not liable due 
to the <span style="font-style:italic">Communications 
Decency Act</span> and will attempt to recover any attorneys’ fees, 
costs, and disbursements from you that are incurred as a result of defending 
against such an unfounded lawsuit.</p>
<p>Additionally, due to 
the <span style="font-style:italic">SPEECH Act 
2010</span>, you cannot attempt to sue us in another country for defamation 
and then attempt to domesticate the judgment in the United States to 
enforce it.</p>
<p>If you believe that WhichBus, rather than a third 
party, has posted defamatory material, please contact us with full details 
at <a href="mailto:team@whichb.us">team@whichb.us</a> so that we can mitigate any loss 
as soon as possible.</p>
<h2>12.  Representations &amp; Warranties</h2>
<p>We make no representations or warranties as to the 
merchantability of our service or fitness for any particular purpose.  
You agree that you are releasing us from any liability that we may otherwise 
have to you in relation to or arising from this Agreement or our products, 
for reasons including, but not limited to, failure of our service, loss 
of income, negligence, or any tort or other cause of action.  To 
the extent that applicable law restricts this release of liability, 
you agree that we are only liable to you for the minimum amount of damages 
that the law restricts our liability to, if such a minimum exists.</p>
<p>You agree that we are not responsible in any way for 
offers made by third parties through our website.</p>
<p>We are not liable for any failure of our service, 
including any failures or disruptions, scheduled or unscheduled, intentional 
or unintentional, on our website which prevent access to our website 
temporarily or permanently.</p>
<p>You acknowledge that the route, scheduling, and other 
information through our website is provided by third parties and that 
we have no control over the liability of that information.  As 
such, you agree that we are not responsible for any damages arising 
from the route or scheduling information on our website, even if we 
become aware that it may be inaccurate or otherwise unreliable and continue 
to make it available.</p>
<p>The provision of our service to you is contingent 
on your agreement with this and all other sections of this Agreement.</p>
<p>Nothing in the provisions of this “Representations 
&amp; Warranties” section shall be construed to limit the generality 
of the first paragraph of this section.</p>

<h2>13.  Indemnity</h2>
<p>You agree to indemnify and hold us harmless for any 
claims by you or any third party which may arise from or relate to this 
Agreement or the provision of our service to you, including any damages 
caused by your use of our website or acceptance of the offers contained 
on it.  You also agree that you have a duty to defend us against 
such claims and we may require you to pay for an attorney(s) of our 
choice in such cases.  You agree that this indemnity extends to 
requiring you to pay for our reasonable attorneys’ fees, court 
costs, and disbursements.  In the event of a claim such as one 
described in this paragraph, we may elect to settle with the party/parties 
making the claim, and you shall be liable for the damages as though 
we had proceeded with a trial.</p>

<h2>14.  Choice of Law</h2>
<p>This Agreement shall be governed by the laws in force 
in the State of Washington.  The offer and acceptance of this contract 
is deemed to have occurred in the State of Washington.</p>

<h2>15.  Forum of Dispute</h2>
<p>You agree that any dispute arising from or relating 
to this Agreement will be heard solely by a court of competent jurisdiction 
in the State of Washington.  Specifically, you agree that any disputes 
shall be heard, where eligible, solely within the small claims division 
of a State of Washington District Court (“Small Claims Court”).</p>
<p>You agree that where the amount you would otherwise 
claim exceeds the monetary jurisdiction of the Small Claims Court, which 
at the time of the publication of this Agreement is up to $5000, you 
will waive your right to collect any damages in excess of the monetary 
jurisdiction and instead only sue us for the maximum amount of $5000.</p>
<p>Likewise, if you have multiple causes of action, you 
agree that if your claim would be eligible to be heard by the Small 
Claims Court, except that one or more of the causes of action or other 
rights to collect damages would not be eligible for the Small Claims 
Court to hear, you will waive your right to claim damages for any of 
the ineligible claims and instead still bring the dispute in the Small 
Claims Court for only the claim or claims over which the Small Claims 
Court has jurisdiction to hear.</p>
<p>Likewise, if you would otherwise have any remedies 
available to you outside of the Small Claims Court, such as the right 
to an injunction, specific performance, or other equitable relief, you 
agree that, if the Small Claims Court has no jurisdiction to grant such 
relief, you will waive your right to obtain such relief against us.</p>
<p>If you bring a dispute in a manner other than in accordance 
with this section, you agree that we may move to have it dismissed, 
and that you will be responsible for our reasonable attorneys’ 
fees, court costs, and disbursements in doing so.</p>
<p>You agree that the prevailing party in any dispute 
will be entitled to claim from the unsuccessful party the entire amount 
of the prevailing party’s reasonable attorneys’ fees, costs, 
and disbursements in relation to the dispute.</p>

<h2>16.  Force Majeure</h2>
<p>You agree that we are not responsible to you for anything 
that we may otherwise be responsible for, if it is the result of events 
beyond our control, including, but not limited to, acts of God, war, 
insurrection, riots, terrorism, crime, labor shortages (including lawful 
and unlawful strikes), embargoes, postal disruption, communication disruption, 
failure or shortage of infrastructure, shortage of materials, or any 
other event beyond our control.</p>

<h2>17.  Severability</h2>
<p>In the event that a provision of this Agreement is 
found to be unlawful, conflicting with another provision of the Agreement, 
or otherwise unenforceable, the Agreement will remain in force as though 
it had been entered into without that unenforceable provision being 
included in it.</p>
<p>If two or more provisions of this Agreement are deemed 
to conflict with each other’s operation, WhichBus shall have the sole 
right to elect which provision remains in force.</p>

<h2>18.  Assignment</h2>
<p>You may not assign your rights and/or obligations 
under this Agreement to any other party without our prior written consent.  
We may assign our rights and/or obligations under this Agreement to 
any other party at our discretion.</p>

<h2>19.  Amendments</h2>
<p>We may amend this Agreement from time to time.  
When we amend this Agreement, we will update this page and indicate 
the date that it was last modified.  You may refuse to agree to 
the amendments, but if you do, you must immediately cease using our 
website and our service.  You must visit this page each time you 
come to our website and read and agree to it if the date it was last 
modified is more recent than the last time you agreed to the Agreement.</p>
<p>Last Modified:  July 31, 2012</p>

		</div>
	</div>
</div>
