<div class="container-fluid">
	<div class="row-fluid">
		<img src="<%= image_path 'logo.png' %>" class="logo-small" alt="WhichBus logo">
	</div>
	<div class="row-fluid about">
		<div class="content">
		We're good people who do good deeds.
		</div>
	</div>
</div>