@import "bootstrap";

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#navigation {
  .segment {
    padding: 8px;
    border-bottom: 1px solid $tableBorder;
  }
  .segment:hover {
    background-color: $tableBackgroundHover;
  }
  .segment span.duration {
    color: $grayLight;
    display: inline-block;
    float: right;
  }
  .progress {
    .bar { width: 100% }
  }
  .real-time .label {
    display: inline-block;
    float: right;
  }
}
