@import "bootstrap";

#map {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 430px;
}

#navigation {
  width: 430px;

  .segment {
    padding: 8px;
    border-bottom: 1px solid $tableBorder;
  }
  .segment:hover {
    background-color: $tableBackgroundHover;
  }
  .segment span.duration {
    color: $grayLight;
    display: inline-block;
    float: right;
  }
  .progress {
    .bar { width: 100% }
  }
}
