// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.left  { float: left }
.right { float: right }

h1 { margin-bottom: 10px; }

h1 .btn, h2 .btn, h3 .btn, h4 .btn, h5 .btn {
	font: inherit;
	vertical-align: baseline;
}

.api.links {
	font-weight: normal;
	color: #999;
	float: right;
}
.api.links .id {
	border: 1px solid #EEE;
	padding: 2px 4px;
	margin: 2px;
	line-height: 20px;
}
.id span {
	font-size: 150%;
	display: inline-block;
}

.arrival span {
	display: inline-block;
	vertical-align: middle;
}
.arrival .details {
	margin-left: 3px;
}

.progress {
	margin-top: 30px;
	margin-bottom: -30px;
}

@media (max-width: 600px) {
	.details { font-size: 80%; }
	.hide-phones, .id { display: none; }
	.nav *:not(.brand) { display: none; }
	ul { margin-left: 5px; }
}