<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WhichBus unit tests</title>
  <%= stylesheet_link_tag "test/vendor/qunit" %>
</head>
<body>
  <div id="qunit"></div>

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDI_tGrmAMV4wPYDHCbkdOhpSCsYT8dBPI&sensor=true&libraries=geometry"></script>
  <%= javascript_include_tag "test/index" %>
</body>
</html>
