<!DOCTYPE html>
<html>
<head>
  <title>Bus</title>
  <%= stylesheet_link_tag    "transit", :media => "all" %>
  <%= javascript_include_tag "transit" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid whichbus-nav">
			<a id="whichbus" class="pacifico" alt="WhichBus" href="/">WhichBus</a>
			<!-- 
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			Future menu area, realized we should not use Bootstrap expandable thing and should instead
			develop our own based on Paige's specs
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li>Future menu area</li>
				</ul>
			</div>
			-->
			<button id="menu-btn" type="button" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</div>
<%= yield %>

</body>
</html>
